<header class="bgImage">


<h4 [ngStyle]="{'text-align':'center', 'margin-top':'-110px','color':'white'}">
    <br><br>
    Hello, this is Mirla Cohen,<br><br>
    Graphic artist , Photographer and mother of seven sweet children from Haifa<br><br>
    nothing!<br><br>
    There is nothing more amazing in the world<br><br>
    Seeing my child in the picture with mischievous eyes and a huge smile,<br><br>
    eat the child along with the picture...<br><br>
    I like to give this comfort to mothers in a set of spectacular family photos.<br><br>
      or pass on in various courses<br><br>
    the knowledge and experience I have gained over the years<br><br>
    So that they too can become photographers or take pictures in the family<br><br>
    I invite you to a photo shoot,<br><br>
    get pictures that are fun to look at and show off over and over again,<br><br>
    And if you like to take pictures yourself,<br><br>
    I recommend you to sign up for "TipFoto" - cool tips for free!<br><br>
    Or join one of my various courses.<br><br>
     Contact me with any questions:<br><br>
        0527631008
        <br><br>
</h4>
</header>
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT THE COMPANY</h3>
  <p class="w3-center w3-large">Key features of our company</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Responsive</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Passion</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Design</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Support</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
  </div>
</div>

<!-- <header class="bgimg-1">
  <div class="w3-display-left w3-text-white" >
    <span class="w3-jumbo w3-hide-small">Start something that matters</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
    <span class="w3-large">Stop wasting valuable time with projects that just isn't you.</span>
  </div> 

</header> -->

